* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

.bg-gray {
  background-color:#DDDDDD;

}
.text-gray{
  /* background-color: rgb(150, 147, 147); */
  color: #DDDDDD;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
